.store-title{
    font-family: monospace;
    color: #444;
    text-align: center;
}

.store-user{
    padding: 2%;
    background: #e1e1e1;
}

.store-user ul{
    margin-left: 30px;
}

.store-user button{
    width: 100%;
    text-align:center;
}

.store-user form{
    text-align: center;
}

.store-user input{
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #e1e1e1;
    padding: 10px;
}

.store-user input:hover{
    transition: 0.3s;
    border: 2px solid #DA552F;
    padding: 9px;
}

.users-mount{
    box-shadow: 1px 2px 4px 1px rgba(0,0,0,0.3);
    background-color:white;
    padding: 20px;
    border: 1px solid #e1e1e1;
    font-family: monospace;
    color: #444;
    border-radius: 5px;
}

.acessar{
    border: 2px solid #DA552F;
    padding: 8px;
    text-align: center;
    font-weight: bold;
    color: #DA552F !important;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.acessar:hover{
    transition: 0.2s;
    background: #DA552F;
    color:white !important;
}